<link href='https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<br><br><br>
<div style="margin: 0 auto; width:300px; height:100px; padding:10px; margin-top:10px; border: 1px solid white; text-align:center; font-size:5em">
  <h1 style="text-align:center;">Scripts</h1>
</div>
<section style="text-align:center">
  <div class='row' style="margin-top:30px">
    <div class='col-md-push-1 col-md-2'>
      <div style="text-align:center; color:white;font-size:1.5em; margin-right:10px;">Title</div>
      <span class="input-list clearfix" style="text-align:center">
          <input style="text-align:center; width:200px" type="text" placeholder="" ng-model="search.title">
      </span>
    </div>
    <div class="col-md-push-1 col-md-2">
      <div style="text-align:center; color:white;font-size:1.5em;">Author</div>
      <span class="input-list clearfix" style="text-align:center;">
          <input style="text-align:center; width:200px" type="text" placeholder=""  ng-model="search.author">
      </span>
    </div>
    <div class="genre col-md-7">
      <div class="title" style="font-size:1.5em; margin-bottom:10px">Genre</div>
      <span style="color:white;"></span><span style="color:white;"></span
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" ng-click="search.genre_id = 1">Drama
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-click="search.genre_id = 2">Comedy
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-click="search.genre_id = 3">Horror
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-click="search.genre_id = 4">SciFi
          </label>
      </div>
  </div>
  <br>
  <!-- <div class="sort">
    <span><b>Sort by</b></span><span>Rating</span><span>Votes</span>
  </div> -->
</section>

<section>
  <!-- <div class="color-box col-md-4" style="background-color:#ddd;">
    <p style="color:black">Pulp Fiction</p>
  </div>
  <div class="color-box col-md-3" style="background-color:#ddd;">
    <p style="color:black">Inception</p>
  </div>
  <div class="color-box col-md-3" style="background-color:#ddd;">
    <p style="color:black">Mulholland Drive</p>
  </div> -->

  <!-- <div ng-repeat="genre in genres | orderBy: 'created_at' | filter:search | genresFilter:ctrl.checkboxModel" > -->

  <div style="text-align:center; margin-left:7%; margin-right:7%; margin-bottom:35px">
    <div class="col-md-2" style="text-align:center; margin-top:80px; background-color:gray; padding:5px; margin:10px" ng-repeat="script in scripts | filter:search | orderBy: 'created_at'" ui-sref="app.scripts.show({id: script.id})">
      <p style="color:white">{{script.title}}</p>
      <p style="color:white">{{script.author}}</p>
      <p style="color:white">{{genre.name}}</p>
    </div>
  </div>
</section>
