<link href='https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

<h1 style="text-align:center">Scripts</h1>
<section style="text-align:center">
  <span style="text-align:center; color:white;font-size:1.5em; margin-right:10px; margin-top:5px">Title</span>
  <span class="input-list clearfix" style="text-align:center">
      <input style="text-align:center" type="text" placeholder="">
  </span>
  <span style="text-align:center; color:white;font-size:1.5em; margin-left:20px; margin-right:10px; margin-top:5px">Author</span>
  <span class="input-list clearfix" style="text-align:center">
      <input style="text-align:center" type="text" placeholder="">
  </span>
</section>