<link href='https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

<h1>New</h1>

<!-- <div ng-if="scriptForm.title.$error.required" class="alert" style="text-align:center">
Title is required
</div> -->
<div class="script-box">
  <h1 class="script-title">New Script</h1>
  <form name="scriptForm" ng-submit="actions.submitForm()" class="script-form">
    <div class="form-group row">
      <label class="col-sm-2 mt15">Title</label>
      <input type="text" name="title" placeholder="Title" class="col-sm-10" ng-model="script.title" required />

      <div ng-messages="myForm.myName.$error" style="color:maroon" role="alert">
        <div ng-message="required">You did not enter a field</div>
        <div ng-message="minlength">Your field is too short</div>
        <div ng-message="maxlength">Your field is too long</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 mt15">Author</label>
      <input type="text" name="author" class="col-sm-10" ng-model="script.author" required />
    </div>

    <div class="form-group row">
      <label class="col-sm-2 mt15">Genre</label>
      <select class="col-md-3" style="height:2em" ng-model="script.genre_id" ng-options="genre.id as genre.name for genre in genres" required></select>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 mt15">Logline</label>
      <textarea type="text" name="logline" rows="5" cols="50" class="col-sm-10 logline-form" ng-model="script.logline" required ></textarea>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 mt15">Review</label>
      <textarea type="text" name="comment" rows="5" cols="50" class="col-sm-10 logline-form" ng-model="comment" required ></textarea>
    </div>

<!--     <div class="form-group row">
      <label class="col-sm-2">Rating</label>
      <input type="number" name="rating" class="col-sm-10" ng-model="script.rating" required />
    </div> -->

    <input type="submit">

  </form>
</div>
