<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Register</h1>
        <form ng-submit="actions.register()" name="loginForm">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="user.email" autofocus>
              <div class="message">
                <div ng-if="loginForm.email.$touched && (loginForm.email.$error.required || loginForm.email.$invalid)">
                  A valid email is required!
                </div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
          </div>
          <input type="submit" class="btn btn-info" value="Register">
        </form><br>
        <a href="#/login">Already registered? Log in</a>
    </div>
  </div>
</div>
