<div class="container">
  <a ng-href="#/scripts" class="pull-left" style="font-size:1.8em; margin-top:10px">ScriptRank</a>
    <div ng-show="signedIn()" style="margin-top:15px; padding-left:200px; position:absolute">Logged in as {{ user.email }}</div>
    <a ng-show="signedIn()" ui-sref-active="active" ng-click="logout()" class="btn btn-primary pull-right" style="margin-top:10px">Log Out</a>
  <a div ng-show="signedIn()" ui-sref="app.scripts.new" class="btn btn-primary pull-right" style="margin-top:10px; margin-right:20px">New Script</a>
</div>
