<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="container">
  <h3 class="pull-left">ScriptRank</h3>
    <div ng-show="signedIn()" style="margin-top:20px; padding-left:200px; position:absolute">Logged in as {{ user.email }}</div>
  <a ui-sref="app.scripts.new" class="btn btn>-primary pull-right" style="margin-top:10px; margin-right:20px">New Script</a>
</div>
