<!DOCTYPE html>
<html>
<head>
  <title>Scriptrank</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app" ng-controller="ApplicationController">

<div style="background-color:gray;width:100%;color:white;position:absolute;top:0;">
<div ui-view="header"></div>
</div>
<br><br>
<div ui-view="mainContent"></div>

</body>
</html>
